p {
	text-align: center;
	font-size: 3em;
	font-weight: bolder;
	color: red;
	font-family: sans-serif;
	/*text-shadow:*/
}

fieldset{
	width: 30%;
	margin: auto;
	font-size: 1em;
}

form label{
	font-family: sans-serif;
}